.bg-image {
    background-image: url('./assets/hero-bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.footer-bg {
    background-image: url('./assets/footer-bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Animation part */

.animation {
    animation: shadowPulse 3s ease-in-out infinite;
}

@keyframes shadowPulse {
    0% {
        box-shadow: 0 0 10px #00FF88;
    }

    50% {
        box-shadow: 0 0 35px #00FF88;
    }

    100% {
        box-shadow: 0 0 20px #00FF88;
    }
}

@media screen and (max-width: 576px) {

    .hero-circle {
        margin-top: 50px;
        width: 300px;
    }

    .hero-section {
        max-width: 400px;
        margin: 0 auto;
    }

    .hero-container {
        margin: 0 auto;
        padding: 40px 20px;
    }

    .hero-container h1,
    .about-section h1 {
        font-size: 40px;
    }

    .hero-btns button {
        font-size: 16px;
        /* background-color: aquamarine; */
        padding: 5px 8px;
    }
}